
  @keyframes scale-down-center {
    0% {
      
              transform: scale(1.5);
              opacity: 0;
    }
    100% {
      
              transform: scale(1);
              opacity: 1;
    }
  }
  
  @keyframes fade {
    0% {
      
              /* transform: scale(1); */
              opacity: 1;
              display: none;
    }
    100% {
      
              /* transform: scale(0.9); */
              opacity: 0;
              display: flex;
    }
  }
  
  
@keyframes slide-in-top {
  0% {
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes increse-heigth{
  0% {
            height: 0;
  }
  100% {
            height: 110%;
  }
}

@keyframes decrese-heigth{
  0% {
            height: 110%;
  }
  100% {
            height: 0px;
  }
}


  
@keyframes rotate1 {
  from {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
  }
  to {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(1turn);
  }
}
@keyframes rotate2 {
  from {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
  }
  to {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(1turn);
  }
}
@keyframes rotate3 {
  from {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
  }
  to {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(1turn);
  }
}